/* COLORS */
:root {
  --gray: #666;
  --lightGray: #ededed;
  --orange: #ff7038;
}
html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.breadCrumbs {
  background-color: #ededed;
  text-align: center;
  padding: 40px;
  font-size: 26px;
  margin-bottom: 40px;
}

/* NAVBAR STYLES */
nav {
  background-color: var(--gray);
}
.navbar {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding: 15px 0;
}
.navbar-items {
  display: flex;
  gap: 30px;
}
.navbar a {
  text-decoration: none;
  color: white;
  font-size: 16px;
}
nav .active {
  text-decoration: underline;
  text-underline-offset: 8px;
  color: var(--orange);
}


/* FORM STYLE */
.FormPage {
  display: flex;
  justify-content: center;
}
.FormStyle {
  padding: 10px;
  position: relative;
  width: 30%;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.inputContainer {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.inputIcon {
  position: absolute;
  left: 3px;
  padding-left: 3px;
  color: var(--lightGray);
}
.showPassword {
  position: absolute;
  right: 10px;
  padding-left: 3px;
  color: black;
}
.inputField {
  width: 100%;
  height: 46px;
  background-color: transparent;
  border: 1px solid #e5e5e8;
  margin: 8px 0;
  color: black;
  font-weight: 500;
  box-sizing: border-box;
  padding-left: 33px;
  border-radius: 10px;
}
.inputField:focus {
  outline: none;
  border: 1px solid var(--orange);
}
.inputField::placeholder {
  color: rgb(80, 80, 80);
  font-size: 1em;
  font-weight: 500;
}
.error-message {
  color: red;
  font-size: 12px;
  text-align: center;
}
.formButton {
  width: 100%;
  margin: 10px 0;
  font-size: 16px;
  padding: 10px 0;
  border: none;
  background-color: var(--orange);
  color: #fff;
  cursor: pointer;
  border-radius: 8px;
}

/* PRODUCT TABLE STYLE */
table {
  border-spacing: 1;
  border-collapse: collapse;
  background: white;
  border-radius: 6px;
  overflow: hidden;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
table * {
  position: relative;
}
table td, table th {
  padding-left: 8px;
}
table thead tr {
  height: 60px;
  background: var(--orange);
  font-size: 16px;
}
table tbody tr {
  height: 48px;
  border-bottom: 1px solid var(--gray);
}
table tbody tr:last-child {
  border: 0;
}
table td, table th {
  text-align: left;
}
table td.l, table th.l {
  text-align: right;
}
table td.c, table th.c {
  text-align: center;
}
table td.r, table th.r {
  text-align: center;
}

@media screen and (max-width: 35.5em) {
  table {
    display: block;
  }
  table > *, table tr, table td, table th {
    display: block;
  }
}

.emptyData {
  background-color: var(--orange);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  font-size: 33px;
}

/* PRODUCT DETAIL STYLES */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
  display: flex;
}
.left-column {
  width: 65%;
}
 
.right-column {
  width: 35%;
  margin-top: 60px;
}
.approved {
  background-color: green;
}
.waiting {
  background-color: var(--orange);
}
.state {
  text-align: center;
  padding: 15px 20px;
  border-radius: 30px;
  color: white;
  font-size: 20px;
  margin-left: 10px;
}